			
			body,p,h1,h3{
					margin: 0;
					padding: 0;
				}
			body{
					font-family: 'Calibri';
				}
			.left{
					float:left;
				}
				
			.right{
					float:right;
				}
				
			header{
					height:650px;
					background-image: url("../images/header_image.jpg");
					font-family: 'Comic Sans MS';
				}
				
			.header_margin{
				margin:auto;
			}

			header p{
					margin-left:24px;
					color:#c7cdd4;
				}
				
			header h2{
					margin-right:24px;
					color:#ffffff;
					display:inline;
				}
			.header-div{
				padding:25px 0;
			}
			.logo{
					float:left;
					width:25%;
			}
			.line-height-67{
					line-height: 67px;
				}
				
			.header-a{
					color:#eeeff0;
					text-decoration:none;
					padding:15px;
				}
			
			.header-container {
			
					background-color:rgba(255,255,255,0.2);
			}
			.central-div-position{
					width:98%;
					
					overflow:hidden;
				}
				
			.slider-img{
					width:100%;
				}
				
			.pos-rel{
					position: relative;
				}
				
			.slider-text-overlay{
					width:100%;
					bottom:200px;
					margin-top:16em;
					text-align:center;
				}
				
			.slider-text-overlay strong,h1{
					color:#fff;
				}
				
			
				
			.slider-text-overlay-p{
					font-size:32px;
				}

			.slider-social{
					width:100%;
					margin-top:8em;
					text-align:center;
				}

			.slider-social i{
					font-size:18px;
					color:#fff;
					margin-left:7px;
				}
				
			.green{
					color:#10855d;
				}
				
				
			.inline-div-25{
					display:inline-block;
					width:25%;
				}
			.inline-div-30{
					float:left;
					width:30%;
					margin-left:1.5%;
					margin-right: 1.5%;
					text-align:justify;
			}
				
			.popular-green{
					color:#0eb493;
				}
				
			.inline{
					display:inline-block;
				}
				
			.text-center{
					text-align:center;
				}
				
			.div-border{
					border-bottom: 1px solid black;
				}
				
			.div-height-20{
					height:20px;
					height:auto;
				}
				
			.div-height-40{
					height:40px;
					height:auto;
				}
				
			.div-width-30{
					width:30px;
				}
				
			.center-block{
					width:100px;
					margin:0 auto;
					display:block;
				}
				
			.article-margin{
					margin:50px auto;
				}
				
			.article-lightgrey{
					background-color:#f4f7f9;
				}
				
			article iframe{
					width:100%;
					height:225px;
					}
					
			.padding-150{
					padding:50px 0;
				}
				
			.link-tabs{
					display: inline;
					color:black;
					margin: 0 10px 0 0;
					padding:8px;
					text-decoration:none;
					
				}
				
			.link-tabs:hover{
					border-width: 1px 1px 1px 1px;
					border-radius:15%;
					background-color:#0eb493;	
				}
				
			.link-tabs:active{
					border-width: 1px 1px 1px 1px;
					border-radius:15%;
					background-color:#0eb493;
				}
			.center{
					margin:auto;
					text-align:center;
				}
				
			.padding-20{
					padding:20px 0;
				}
				
			.div-height{
					height:100%;
				}
			article{
					overflow:hidden;
				}
				
			.features-logo-margin{
					padding-top:1.2em;
					width: 10%;
					}
					
			.div-heading{
					margin:25px;
					margin:0 auto:
				}
			/* Features related styling */
			.content-wrapper{
				float: left;
				width: 85%;
				margin-left: 2%;
		}
		.link-active{
					border-width: 1px 1px 1px 1px;
					border-radius:15%;
					background-color:#0eb493;
					
		}
		.padding-25{
					padding:25px;
			}
			
		.padding-15{
					padding:0 15px;
			}
			
		.gallery-image{
					float:left;
					width:25%;
					height:300px;
					}
					
		.team-img{
				width:270px;
				height:300px;
			}
			
		.team-div{
				float:left;
				width:20%;
				margin:2.5%;
				}
				
		.team-text-margin{
				margin:5px auto;
				}
				
		.funfacts-background{
					height:600px;
					background-image: url("../images/funfacts-bkgrnd.jpg");
				}
				
		.funfacts-color{
				background-color:rgba(22,41,58,0.2);
				
			}
			
		.inline-div-discuss{
					float:left;
					width:20%;
					margin-left:1.5%;
					margin-right: 1.5%;
					text-align:justify;
			}
			
		footer{
				background-color:#1ea78d;
				min-height:210px;
				border-top: 4px solid #062033;
				color:#fff;
			}
			
		.margin-top-60{
					margin-top:60px;
				}
				
		footer p{
				margin-top:4px;
				}
				
		.footer-narrow-div{
				float:left;
				width:20%;
				margin:2.5%;
				}
		.black{
				color:#000;
			}
			
		.grey{
				color:#434343;
				opacity:0.5;
			}
		.margin-top-30{
					margin-top:30px;
				}
				
				
			.menu-xs-toggle{
				position: absolute;
				top: 20px;
				left: 15px;
				padding: 12px 17px;
				border: 1px solid #fff;
				display:none;
						
					}	
				
		@media screen and (max-width: 640px) {
				
			.menu-xs-toggle{
			
				display:block;
						
					}	
				
					.header-div{
						padding:15px 0;
					}
					
					.logo{
						float:none;
						clear:both;
						margin:0 auto;
						text-align:center;
						width:100%;
					}
					#header_logo{
						width:90%;
						margin:auto;
					}
					#header_menu.active{
	
						display:block;
						}
					#header_menu{
						margin-top:8px;
						display:none;
						clear:both;
						}
						#header_menu a{
							
							display:block;
							text-align:center;
						}
					.slider-text-overlay{
						margin-top:4em;
					}
					.right{
							float:none;
							clear:both;
							margin:0 auto;
					}
					.inline-div-30{
						float:none;
						width:100%;
					}
					
					.padding-150{
						line-height:2.5em;
					}
					.link-tabs{
						padding:5px 15px;
					}
					
					.team-div{
						float:none;
						clear:both;
						width:100%;
						text-align:center;
						margin:2.5% auto;
					}
					.gallery-image{
						float:none;
						clear:both;
						display:block;
						width:65%;
						margin:5px auto;
						height:auto;
					}
					.footer-narrow-div{
						float:none;
						clear:both;
						text-align:center;
						width:100%;
					}
					#header_line{
						display:none;
					}
					#footer_para{
						margin:0 8px;
						text-align:justify;
					}
					#header_tag{
						clear:both;
						display:block;
						margin-left:-26px;
					}
					.header-a{
						padding:8px;
					}
					
					
    }
